{% extends "base.html" %}
{% load static %}
{% load social_share %}
{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
        <div class="container-fluid">
            <div class="owl-banner owl-carousel">
                {% for article in articles %}
                    <div class="item">
                        {% if article.image %}
                            <img alt="" src="{{ article.image.url }}"/>
                        {% else %}
                            <img alt="" src='{% static "assets/images/banner-item-06.jpg" %}'/>
                        {% endif %}
                        <div class="item-content">
                            <div class="main-content">
                                <div class="meta-category">
                                    {% for cat in article.category.all %}
                                        <span>{{ cat.name }}, </span>
                                    {% endfor %}
                                </div>
                                <a href="{% url 'details' article.slug %}"><h4>{{ article.title }}</h4></a>
                                <ul class="post-info">
                                    <li><a href="#">{{ article.author }}</a></li>
                                    <li><a href="#">{{ article.published_date }}</a></li>
                                    <li><a href="#">{{ article.comments_count }} comments</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Banner Ends Here -->

    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            {% for article in articles %}
                                <div class="col-lg-12">
                                    <div class="blog-post">
                                        <div class="blog-thumb">
                                            {% if article.image %}
                                                <img src="{{ article.image.url }}" alt="Image">
                                            {% else %}
                                                <img src="https://placehold.co/400" alt="No Image">
                                            {% endif %}
                                        </div>
                                        <div class="down-content">
                                            <span>Lifestyle</span>
                                            <a href="{% url 'details' article.slug %}"><h4>{{ article.title }}</h4></a>
                                            <ul class="post-info">
                                                <li><a href="#">{{ article.author }}</a></li>
                                                <li><a>{{ article.published_date }}</a></li>
                                                <li><a>{{ article.comments_count }}</a></li>
                                            </ul>
                                            <p> {{ article.content }}</p>
                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <ul class="post-tags">
                                                            <li><i class="fa fa-tags"></i></li>
                                                            {% for cat in article.category.all %}
                                                                <li><a href="#">{{ cat.name }}</a>,
                                                            {% endfor %}</li>

                                                        </ul>
                                                    </div>
                                                    <div class="col-6">
                                                        <ul class="post-share">
                                                            <li><i class="fa fa-share-alt"></i></li>
                                                            <li>{% post_to_whatsapp article.get_absolut_url 'whatsapp' %},</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-lg-12">

                                <div class="main-button">
                                    <a href="{% url 'blog' %}">View All Posts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'recent.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}